/* InvoiceList.css */

.invoice-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}



.invoice-table th, .invoice-table td {
  color: #555;
  border: 1px solid #ddd; /* Light grey border for cells */
  padding: 8px; /* Space inside each cell */
}

.invoice-table th {
  background-color: #f9f9f9;
  color: #333;
  /* font-weight: bold; */
}




