/* InvoiceList.css */

.invoice-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 1.5em;
  text-align: center;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.invoice-table thead {
  background-color: #f4f4f4;
}

.invoice-table th, .invoice-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.invoice-table th {
  background-color: #f9f9f9;
  color: #333;
  font-weight: bold;
}



.invoice-table td {
  color: #555;
}

.invoice-table td:first-child {
  font-weight: bold;
}

.invoice-table td:last-child {
  text-transform: capitalize;
}
