html, body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

/* main::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, rgba(110,110,255,0.3), transparent 70%);
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(150px);
} */


input {
  appearance: none;
  box-sizing: border-box;
  width: 100px !important;
  height: 100px !important;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 6px;
  padding-right: 6px;
  border: 2px solid red !important;
  vertical-align: top;
  color: green;
  background-color: red !important;
  font-family: inherit;
  font-size: 60px;
}

input:focus {
  border-color: red;
  outline: none;
}

input::placeholder {
  color: #999;
  opacity: 1;
}
