html,
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

/* main::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, rgba(110,110,255,0.3), transparent 70%);
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(150px);
} */

input {
  appearance: none;
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 100%;
  padding-block: 0;
  padding-inline: 6px;
  border: 2px solid #ccc;
  vertical-align: top;
  color: var(--rdg-color);
  background-color: var(--rdg-background-color);
  font-family: inherit;
  font-size: var(--rdg-font-size);
}

input:focus {
  border-color: var(--rdg-selection-color);
  outline: none;
}

input::placeholder {
  color: #999;
  opacity: 1;
}
