.search_input {
    height:15px;
    background-color: white;
    outline: none;
    padding:3px;
    height: 16px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    font-size: 12px;
    color: #333333;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }

.text {
    font-size: 13px;
    color: black;
    font-weight: normal;
    padding-bottom: 5px;
}
.container{
    overflow: hidden;
    border-bottom: 2px solid #dddddd;
    /* border-top: 1px solid #dddddd; */
    /* border-radius: 2px; 
} */
}
.table {
border-collapse: collapse;
width: 100%;


}

.th {
     border: 1px solid #dddddd;
    font-weight: normal;
    text-align: left;
     padding: 8px;
     background-color: #f2f5f6
}

.title {
    color:white;
}


.inputbox {
    background-color: white;
    color: #333;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 5px 30px;
    font-size: 14px;
    cursor: pointer;
  }

  .tablecell {
    font-size:14px;
    align-self: center;
    justify-self: center;
     height: 100%; 
    width:100%; 
    border-left: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ddd; */
     /* min-height:60px; */
     /* background-color: red; */
  }



  .tablefeature {
    font-size:14px;
    /* align-self: flex-start; */
    justify-self: flex-start;
     /* min-height:60px; */
     /* background-color: red; */
  }


  .button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

  }
  
  .button:hover {
    background-color: #333;
  }
  